<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Điền thông tin sản phẩm</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Thông tin cơ bản</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">Tên sản phẩm</label>
                <input type="text" id="inputName" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputOrgin">Xuất sứ</label>
                <input type="text" id="inputOrgin" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputMaint">Bảo hành (tháng)</label>
                <input type="number" id="inputMaint" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputColor">Màu sắc</label>
                <input type="text" id="inputColor" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputStock">Số lượng tồn</label>
                <input type="number" id="inputStock" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputProducer">Nhà sản xuất</label>
                <input type="text" id="inputProducer" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputCPU">CPU</label>
                <input type="text" id="inputCPU" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputRAM">RAM</label>
                <input type="text" id="inputRAM" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputCard">Card đồ họa</label>
                <input type="text" id="inputCard" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputScreen">Màn hình</label>
                <input type="text" id="inputScreen" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputPort">Cổng giao tiếp</label>
                <input type="text" id="inputPort" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputRead">Đọc thẻ nhớ</label>
                <input type="text" id="inputRead" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputCam">Webcam</label>
                <input type="text" id="inputCam" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputWifi">Chuẩn Wifi</label>
                <input type="text" id="inputWifi" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputBluetooth">Bluetooth</label>
                <input type="text" id="inputBluetooth" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputOS">Hệ điều hành</label>
                <input type="text" id="inputOS" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputPin">Pin</label>
                <input type="text" id="inputPin" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputWeight">Trọng lượng</label>
                <input type="number" id="inputWeight" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputSize">Kích thước</label>
                <input type="text" id="inputSize" class="form-control">
              </div>
            <!-- /.card-body -->
            </div>
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Giá cả</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputPrice">Giá niêm yết</label>
                <input type="text" id="inputPrice" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputDiscount">Mã khuyến mãi</label>
                <select class="custom-select rounded-0" id="inputDiscount">
                  <option>Value 1</option>
                  <option>Value 2</option>
                  <option>Value 3</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputOffer">Mã ưu đãi</label>
                <select class="custom-select rounded-0" id="inputOffer">
                  <option>Value 1</option>
                  <option>Value 2</option>
                  <option>Value 3</option>
                </select>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-secondary">Hủy</a>
          <input type="submit" value="Thêm sản phẩm" class="btn btn-success float-right">
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
